@model VG_AspNetCore_Web.Models.Categories

<tr>
    <td>@Model.CategoryId</td>
    <td>@Model.CategoryName</td>
    <td>@Model.Description</td>
    <td><a class="btn btn-outline-primary" asp-action="Image" asp-route-id="@Model.CategoryId">ViewImage</a></td>
    <td><a class="btn btn-outline-primary" asp-action="ImageUpload" asp-route-id="@Model.CategoryId">UploadImage</a></td>
</tr>